In [ ]:
#HOW TO READ DATA IN PYTHON .EXCEL FILES,.CSV FILES,.JSON FILES
#IWHAT IS THE PURPOSE OF IMPORT COMMAND
#IMPORT COMMAND IS USED OF IMPORTING THE PACKAGES IN PYTHON FOR EXECUTING CODE
#SYTANX:IMPORT <PACKAGE NAME>
#IF U WANT ONE LIBRIES/MODULE FROM THAT PACKAGE
#SYANTAX:FROM <PACKAGE NAME> IMPORT <MWHAT MODULE U WANT>

#HEAD() .THIS FUNCTION IS USED FOR DISPLEY THE FIRST FEW ROWS IN YOUR DATA.
#TAIL().THIS FUNSTION IS USED FOR DISPLAY THE FROM LAST FEW ROWS IN YOUR DATA
#THIS TWO FUNSTION ONLY SHOWS 1ST 5ROWS
#IF U WANT FIRST 10 ROWS IN YOUR 
#HEAD(10)
#IY U WANT LAST 10 ROWS IN YOUR DATA 
#TAIL(10)

#SYNATX FOR HOW READ THE DATA
#<FILE NAME>=pd.read_<file format>(r'<paste the file path>')

#PANDAS PAKCGED IS MANDATORY
#HOW TO INSTALL PANDAS PACKAGE IN PYTHON

In [1]:
import pandas as pd

In [2]:
sales=pd.read_csv(r'C:\Users\user\Desktop\DATA_SETS\mobile_sales.csv')

In [3]:
sales.head()

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,06-01-2024,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,05-04-2024,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,13-02-2024,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,17-04-2024,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,02-06-2024,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online

In [4]:
sales.tail()

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
995,41f08915-addb-4966-8628-038c479c619a,28-01-2024,challenge,Brooks Ltd,1386.69,76,28865.70,39,Male,Ronaldchester,Credit Card
996,bcfa1912-5bd8-4894-900f-376fa48f022d,13-07-2024,least,"Lang, Brown and Stone",1159.26,59,50471.42,21,Other,West Jenniferport,Credit Card
997,e6839305-a177-4cda-aada-3ac1f49eeeec,13-01-2024,enjoy,"Atkinson, Moore and Nelson",544.31,59,1381.82,26,Female,Barneschester,Credit Card
998,12f7ac32-9063-4ae5-a122-385b06ba77af,25-01-2024,half,"Kim, Maxwell and Moore",331.98,84,8557.32,20,Male,Jonesborough,Online
999,d3e82026-2084-40f2-8d5d-d2a94a198af9,17-01-2024,fill,Wallace LLC,973.97,79,70739.76,44,Female,Port Luis,Credit Card

In [6]:
sales.head(22)

,TransactionID,Date,MobileModel,Brand,Price,UnitsSold,TotalRevenue,CustomerAge,CustomerGender,Location,PaymentMethod
0,79397f68-61ed-4ea8-bcb2-f918d4e6c05b,06-01-2024,direction,Green Inc,1196.95,85,28002.80,32,Female,Port Erik,Online
1,4f87d114-f522-4ead-93e3-f336402df6aa,05-04-2024,right,Thomas-Thompson,1010.34,64,2378.82,55,Female,East Linda,Credit Card
2,6750b7d6-dcc5-48c5-a76a-b6fc9d540fe1,13-02-2024,summer,Sanchez-Williams,400.80,95,31322.56,57,Male,East Angelicastad,Online
3,7da7de95-f772-4cc2-bce0-b0873f98233e,17-04-2024,keep,Greer and Sons,338.60,79,31159.75,46,Other,East Kevin,Cash
4,469044af-0d60-4d87-af66-c6603e844057,02-06-2024,option,Brown and Sons,839.79,41,11523.36,38,Male,New Lindaborough,Online
5,f7e98db9-cb87-453e-8179-e48ba5443932,07-03-2024,idea,"Massey, Nicholson and Young",1498.13,70,9703.89,45,Female,Port Daryl,Debit Card
6,61f1c03f-5527-49bf-88f6-0d8694e72d41,13-07-2024,southern,Coleman-Pena,975.77,63,8300.22,23,Other,Kathrynborough,Online
7,55d74ccb-e3c0-4ceb-a102-6d553736b944,18-03-2024,top,"Brock, Cruz and Santiago",530.70,79,4515.80,26,Female,Kyleborough,Online
8,889bd479-e06a-494d-baae-e099bea5469c,12-04-2024,anything,"Griffin, Boyle and Dawson",178.52,58,36150.93,20,Female,Jacquelinestad,Debit Card
9,567c276b-fec4-47e4-b5be-71f2b79bd745,19-04-2024,wall,"Arroyo, Jones and Clayton",774.79,92,24228.27,33,Male,South Jessicachester,Online
10,f7d25e75-e7e6-4b61-8879-63121787a1dd,13-07-2024,happen,"Carlson, Mcdonald and Hatfield",806.59,22,2327.26,41,Other,Allisonview,Cash
11,c28cafd9-08a6-4a72-8a89-b05d82993315,18-02-2024,very,Mckenzie LLC,317.64,21,100809.36,62,Female,Samanthafurt,Debit Card
12,1a9dfe22-c8d8-4872-8cb3-1e7d37c492a9,27-01-2024,nothing,Cross Inc,1460.22,49,14547.50,37,Other,West Amy,Online
13,740bd70e-8837-4f7f-8621-45d98a0788ea,16-02-2024,her,Jackson-Garza,761.48,45,36463.14,43,Female,Harrishaven,Debit Card
14,72122aaf-4049-4799-9c5e-56fa0bda637a,02-07-2024,admit,Neal-Francis,965.15,76,112966.65,53,Other,Brandonfort,Online
15,41e73345-7161-4b86-9922-848a9ca80bf9,05-06-2024,action,Shaw-Farmer,1354.69,10,38613.38,38,Male,Griffinland,Online
16,21c8f1ad-417b-46a8-8bec-ccfe5d9b18f9,01-05-2024,treatment,"Best, Ross and Smith",1025.05,97,3751.67,31,Other,Joetown,Debit Card
17,f0e76c4a-2a03-4c2d-821c-114e2877fa0d,13-07-2024,have,Burton LLC,1071.99,22,34368.64,56,Female,Port Mikehaven,Cash
18,a1dae876-8ee4-4d2e-ac91-35d2536426cf,12-06-2024,role,"Byrd, Thompson and Rhodes",1415.74,65,28099.30,35,Other,Sharonmouth,Debit Card
19,5a907002-ba75-4125-879a-217705dd56fd,30-04-2024,themselves,Taylor-Hutchinson,307.58,11,12066.00,25,Male,Hendersonfort,Cash
20,01ba7cfd-dc66-4825-9d40-3575f752c1cc,02-01-2024,wait,"Graves, Turner and Crawford",678.72,60,86889.63,59,Female,South Edward,Online
21,e2b513d1-e3c2-4592-b59e-735b9c1fc2c1,12-05-2024,class,Villanueva-Ramirez,1092.94,54,2833.22,60,Female,Lake Corey,Online